@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    --primary-color: #00669F;
}

.BarDiscount {
    background-color: #1cd1b0;
    height: 38px;
    font-size: 15px;
    padding: 10px;
}

.header {
    background-color: var(--primary-color);
    height: 101px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    font-size: 40px;
}

.title {
    position: absolute;
    left: 28px;
    top: 66px;
}

main {
    margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px
}

.card {
    width: 374px;
  height: 580px;

  background-color: var(--card-background);
  border-radius: 16px 16px 0px 0px;

  position: relative;
  display: flex;
  flex-direction: column;

  box-shadow: 0px 7px 6px -1px rgba(0, 0, 0, 0.47);
}

.card__background {
    width: 374px;
    height: 219px;
}

.background-batman {
    background-image: url(../img/background-batman.png);
             
}

.background-arlequina {
    background-image: url(../img/background-arlequina.png);
    
}

.icon__perfil img {
    position: relative;
    left: 119px;
    bottom: 75px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.icon__like {
    position: relative;
    top: 20px;
    left: 20px;
}

.card__titulo {
    position: relative;
    bottom: 50px;
}

.card__conteudo {
    display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
  margin: 10px 20px;
  text-align: justify;
  flex-grow: 1;
  
}

.card__botao {
    display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-color);
  color: white;
  text-decoration: none;

  width: 145.34px;
  height: 54.76px;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #f3f3f3;

  margin: 20px;
}

footer {
    background-color: var(--primary-color);
    height: 51px;
    width: 100%;
    color: #fff9f9;
    padding: 10px;
  }